{% extends "bingosync/base.html" %}
{% load static %}
{% load bootstrap %}

{% block page_content %}
    <div style="max-width: 600px; margin: 0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">
                403 - Forbidden
            </div>
            <div class="panel-body">
                <p>
                    Sorry, you don't have permission to do that.
                </p>
                <p>
                    Please try again starting from the home page. You may need to log in again.
                </p>
            </div>
        </div>
    </div>
{% endblock %}


