{% extends "bingosync/base.html" %}
{% load static %}
{% load bootstrap %}

{% block page_content %}
    <div style="max-width: 600px; margin: 0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">
                500 - Internal Server Error
            </div>
            <div class="panel-body">
                <p>
                    Sorry, something went wrong while processing that request.
                </p>
                <p>
                    Please try again starting from the home page.
                </p>
            </div>
        </div>
    </div>
{% endblock %}


