{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Ocarina of Time Bingo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/style.css" %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<div class="container" style="height: 100vh">
    <div class="row" style="height: 100%">
        <div class="col-md-4 sidebar-right">
            <div class="sidebar-header">
                <h1>OoT Bingo</h1>
                <p>This is a "Bingo" board for Ocarina of Time races.</p>
            </div>
            <div class="sidebar-content chat-window">
                <div class="chat-body-container">
                    <div id="chat-body" class="chat-body"></div>
                </div>
                <form>
                    <div class="chat-input-container">
                        <input type="text" id="chat-input" class="chat-input form-control" autocomplete="off" />
                        <input type="submit" id="chat-send" class="chat-send btn btn-default" value="Send"/>
                    </div>
                </form>
            </div>
            <div class="sidebar-footer">
            </div>
        </div>
        <div class="col-md-8 vertical-center" style="text-align: center">
            <div style="display: inline-block;">
            <table id="bingo" style="background-color: inherit">
                <tr>
                    <td class="popout" id="tlbr">TL-BR</td>
                    <td class="popout" id="col1">COL1</td>
                    <td class="popout" id="col2">COL2</td>
                    <td class="popout" id="col3">COL3</td>
                    <td class="popout" id="col4">COL4</td>
                    <td class="popout" id="col5">COL5</td>
                </tr>
                <tr>
                    <td class="popout" id="row1">ROW1</td>
                    <td class="square row1 col1 tlbr" id="slot1"></td> 
                    <td class="square row1 col2" id="slot2"></td> 
                    <td class="square row1 col3" id="slot3"></td> 
                    <td class="square row1 col4" id="slot4"></td> 
                    <td class="square row1 col5 bltr" id="slot5"></td> 
                </tr>
                <tr> 
                    <td class="popout" id="row2">ROW2</td>
                    <td class="square row2 col1" id="slot6"></td> 
                    <td class="square row2 col2 tlbr" id="slot7"></td> 
                    <td class="square row2 col3" id="slot8"></td> 
                    <td class="square row2 col4 bltr" id="slot9"></td> 
                    <td class="square row2 col5" id="slot10"></td> 
                </tr>
                <tr> 
                    <td class="popout" id="row3">ROW3</td>
                    <td class="square row3 col1" id="slot11"></td> 
                    <td class="square row3 col2" id="slot12"></td> 
                    <td class="square row3 col3 tlbr bltr" id="slot13"></td> 
                    <td class="square row3 col4" id="slot14"></td> 
                    <td class="square row3 col5" id="slot15"></td> 
                </tr>
                <tr> 
                    <td class="popout" id="row4">ROW4</td>
                    <td class="square row4 col1" id="slot16"></td> 
                    <td class="square row4 col2 bltr" id="slot17"></td> 
                    <td class="square row4 col3" id="slot18"></td> 
                    <td class="square row4 col4 tlbr" id="slot19"></td> 
                    <td class="square row4 col5" id="slot20"></td> 
                </tr>
                <tr> 
                    <td class="popout" id="row5">ROW5</td>
                    <td class="square row5 col1 bltr" id="slot21"></td> 
                    <td class="square row5 col2" id="slot22"></td> 
                    <td class="square row5 col3" id="slot23"></td> 
                    <td class="square row5 col4" id="slot24"></td> 
                    <td class="square row5 col5 tlbr" id="slot25"></td> 
                </tr>
                <tr>
                    <td class="popout" id="bltr">BL-TR</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
<script>
    function updateSquare(selector, json) {
        selector.html(json["name"]);
    }

    function appendChatMessage(message) {
        var $chatBody = $("#chat-body");
        var wasAtBottom = ($chatBody.scrollTop() + $chatBody.height()) === $chatBody[0].scrollHeight;
        $chatBody.append("<div>" + message + "</div>");
        if(wasAtBottom || true) {
            $chatBody.scrollTop($chatBody[0].scrollHeight);
        }
    }

    $(document).ready(function() {
        // asynchronously load and populate the board
        $.ajax({
            "url": "{% url 'views.board_json' seed %}",
            "success": function(result) {
                for(var i = 0; i < result.length; i++) {
                    updateSquare($("#slot" + (i + 1)), result[i])
                }
            }
        });

        var ws = new WebSocket("ws://127.0.0.1:8888/broadcast");
        ws.onopen = function() {
            console.log("socket opened!");
        };
        ws.onmessage = function (evt) {
            appendChatMessage(evt.data);
        };

        $(".square").on("click", function(ev) {
            var goal = $(this).html();
            $.ajax({
                "url": "{% url 'views.goal_selected' %}",
                "type": "PUT",
                "data": JSON.stringify({
                    "goal": goal
                }),
                "success": function(result) {
                    appendChatMessage(result);
                },
                "error": function(result) {
                    appendChatMessage("error!");
                    console.log(result);
                }
            });
        });

        $("#chat-send").on("click", function(ev) {
            var $chatInput = $("#chat-input");
            var message = {
                "type": "chat",
                "text": $chatInput.val()
            };
            ws.send(JSON.stringify(message));
            $chatInput.val('');
            return false;
        });
    });
</script>
</body>
</html>

