certifi==2017.11.5
chardet==3.0.4
Django==1.8.18
django-bootstrap-form==3.3
django-url-tools-py3==0.1.0.1
idna==2.6
psycopg2==2.7.3.2
PyExecJS==1.5.0
requests==2.18.4
six==1.11.0
tornado==4.5.2
urllib3==1.22
