certifi==2022.12.7
chardet==5.1.0
Django==4.1.6
django-bootstrap-form==3.4
django-crispy-forms==1.14.0
django-url-tools-py3==0.2.1
idna==3.4
psycopg2==2.9.5
pytz==2022.7.1
requests==2.28.2
six==1.16.0
tblib==1.7.0
tornado==6.2
urllib3==1.26.14
