asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
crispy-bootstrap3==2024.1
Django==5.0.7
django-bootstrap-form==3.4
django-crispy-forms==2.1
django-url-tools-py3==0.2.1
idna==3.7
psycopg2==2.9.9
requests==2.32.3
sqlparse==0.5.0
tornado==6.4.1
urllib3==2.2.1
