{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Bingosync</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Bingosync lets you collaboratively view and edit 'bingo boards' for speedrunning games.">
    <meta name="keywords" content="bingo sync, bingosync, zelda bingo, ocarina of time bingo, speedrunning">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/style.css" %}">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bingosync/misc.js" %}"></script>
</head>
<body>
    {% block page_body %}
    {% endblock %}
</body>
</html>


