{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Bingosync</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Bingosync is a tool for speedrunners that lets you collaboratively view and edit 'bingo boards' during speedrun races.">
    <meta name="keywords" content="bingo sync, bingosync, zelda bingo, ocarina of time bingo, speedrunning">
    {% block page_head_styles %}
        <link rel="stylesheet" type="text/css" href="{% static "bingosync/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "bingosync/style.css" %}">
    {% endblock %}
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bingosync/misc.js" %}"></script>
    {% block page_head %}
    {% endblock %}
</head>
<body>
    {% block page_body %}
        <div class="container" style="height: 97vh; position: relative">
            {% block page_header %}
                <div>
                    <a href="{% url 'views.rooms' %}">
                        <h1>Bingosync</h1>
                    </a>
                </div>
            {% endblock %}
            {% block page_content %}
            {% endblock %}
            {% block page_footer %}
                <div class="footer-bar">
                    <a href="{% url 'views.history' %}">Room History</a>
                    ·
                    <a href="{% url 'views.about' %}">About</a>
                    ·
                    <a href="https://twitter.com/saltor6">Twitter</a>
                    ·
                    <a href="https://github.com/kbuzsaki/bingosync">Github</a>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>


