{% extends "bingosync/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block page_head_styles %}
{% endblock %}

{% block page_head %}
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="{% static "beta_bingo/styles.css" %}">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script> <!-- google libraries API -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> <!-- jquery -->
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="{% static "beta_bingo/querystring.js" %}"></script>
	<script type="text/javascript">
		var srl = {}; // javascript holder
		function setcolor() {
			var pathArray = window.location.href.split('/');
			if (pathArray[3].toLowerCase() == 'races') { return 'racesborder'}
			else if (pathArray[3].toLowerCase() == 'leaderboards') { return 'leaderboardsborder' }
			else if (pathArray[3].toLowerCase() == 'channel') { return 'channelborder' }
			else if (!pathArray[3]) { return 'streamsborder' }
			else { return 'defaultborder' }
		}
	</script>
{% endblock %}

{% block page_body %}
<div id="wrap"><div id="main">
	<div class="container-compat" id="pageContent">
        <script src="{% static "beta_bingo/seedrandom-min.js" %}" type="text/javascript"></script>
        <script src="{% static "beta_bingo/goal-list.js" %}" type="text/javascript"></script>
        <script src="{% static "beta_bingo/generator.js" %}" type="text/javascript"></script>
        <script src="{% static "beta_bingo/freqtester.js" %}" type="text/javascript"></script>
        <div id="inputfields" style="width: 50%; float: left; padding-left: 0in; padding-top: 0.5in">
            <input id="beta-button" type="button" value="View Bingo Card" />
            <h1>Data Generator</h1>
            <table style="margin-bottom: 0.6in;">
            <!--cards input field-->
            <tr>
                <td><label for="numCards" style="color: gold;">Number of Cards:</label></td>
                <td><input id="numCards" type="text" value="10" /></td>
            </tr>
            <!--random seed checkbox -->
            <tr>
                <td><label for="randomSeeds" style="color: gold;">Use Random Seeds:</label></td>
                <td><input id="randomSeeds" type="checkbox" /></td>
            </tr>
            <!--generate button -->
            <tr>
                <td><input id="generate_button" type="button" value="Generate!" /></td>
            </tr>
            <tr>
                <td><span id="feedback" style="display: block; margin-top: 0.8in;" /></td>
            </tr>
            </table>


           <!--total difficulty information -->
            <h1>Totals:</h1>
            <div id="totals" style="display: block; float: left;">
            </div>
        </div>

        <div id="frequencies" style="width: 50%; float: right; padding-right: 0in; padding-top: 0.5in">
        </div>
	</div>
</div></div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#beta-button").on("click", function() {
            window.location = "{% url 'views.beta_bingo' %}";
        });

        $.ajax({
            "url": "{% url 'views.beta_bingo_list' %}",
            "success": function(result) {
                result["info"] = {
                    version: "v9"
                };

                var bingoList = result;
                initializeGoals(bingoList);

                function reload() {
                    var numCards = document.getElementById("numCards").value;
                    var randomSeeds = document.getElementById("randomSeeds").checked;

                    // change feedback field to indicate generation
                    var feedbackField = document.getElementById("feedback");
                    feedbackField.innerHTML = "Generating...";
                    feedbackField.style.color = "";

                    // hacky timeout to ensure feedback field has a chance to update
                    setTimeout(function() {
                        updateResults(numCards, randomSeeds);

                        // change feedback back once generation is complete
                        feedbackField.innerHTML = "Done!";
                        feedbackField.style.color = "gold";
                    }, 50);
                }

                $("#generate_button").on("click", function() {
                    reload();
                });

                reload();
            },
            "error": function(error) {
                alert("Failed to load bingo list! (" + error.status + " " + error.statusText + ")");
            }
        });
    });
</script>
{% endblock %}
