{% extends "bingosync/base.html" %}
{% load staticfiles %}
{% load app_filters %}

<!-- bingosync.html doesn't use the same layout conventiona s the rest of the
     site because the main layout flexboxes screw with the fill-parent based
     layout that the chat and sidebar use
 -->
{% block page_body %}
<div class="container" style="height: 97vh">
    <div style="position: relative">
        <h1 style="display: inline-block;"><a href="{% url 'rooms' %}">Bingosync</a> - {{ room.name }}</h1>
        <h4 style="display: inline-block; position: absolute; right: 0; bottom: 0;">
            {% if player.is_spectator %}Spectating{% else %}Playing{% endif %} as: {{ player.name }}
            <a class="btn btn-default" href="{% url 'room_disconnect' room.encoded_uuid %}">
                Disconnect
            </a>
        </h4>
    </div>
    <div class="row m-b-l" style="height: calc(100% - 70px);">
        <div class="col-md-6">
            <div class="fill-parent" style="text-align: center">
                    {% include 'bingosync/color_chooser.html' %}
                <div class="board-container{{ room.hide_card|yesno:" hidden-card," }}">
                    {% include 'bingosync/board.html' %}
                    <div class="board-cover">
                        <div class="board-cover-text unselectable">
                            Click to Reveal
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="height: 93%">
            <div class="row" style="height: 100%">
                <div class="col-md-8" style="height: 100%">
                    {% include 'bingosync/chat_panel.html' %}
                </div>
                <div class="col-md-4" style="height: 100%">
                    <div class="flex-col-container">
                        <div class="flex-col-content m-b-l">
                            {% include 'bingosync/players_panel.html' %}
                        </div>
                        <div class="flex-col-footer m-b-l" id="room-settings-container">
                            {% include 'bingosync/room_settings_panel.html' %}
                        </div>
                        <div class="flex-col-footer">
                            {% include 'bingosync/chat_settings_panel.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'bingosync/new_card_dialog.html' %}
<script src="{% static "bingosync/room/util.js" %}"></script>
<script src="{% static "bingosync/bingosync.js" %}"></script>
<script>
    $(document).ready(function() {
        // populate initial settings
        ROOM_SETTINGS = {
        {% for key, value in room.settings.items %}
            "{{ key }}": {% autoescape off %}{{ value|format_js_val }}{% endautoescape %},
        {% endfor %}
        };

        var boardUrl = "{% url 'room_board' room.encoded_uuid %}";
        var chatHistoryUrl = "{% url 'room_feed' room.encoded_uuid %}";
        var chatUrl = "{% url 'chat_message' %}";
        var colorSelectedUrl = "{% url 'select_color' %}";
        var socketsUrl = "{{ sockets_url }}/broadcast";
        var goalSelectedUrl = "{% url 'goal_selected' %}";
        var boardRevealedUrl = "{% url 'board_revealed' %}";
        var temporarySocketKey = "{{ temporary_socket_key }}";

        var isSpectator = {{ player.is_spectator|yesno:"true,false" }};

        window.sessionStorage.setItem("room", "{{ room.encoded_uuid }}");

        // asynchronously load and populate the board
        initializeBoard($("#bingo"), boardUrl, goalSelectedUrl, $("#color-chooser"), isSpectator);

        initializeBoardCover(boardRevealedUrl, ROOM_SETTINGS.hide_card);

        // open the chat web socket
        initializeChatSocket($("#bingo-chat"), $("#bingo"), $("#players-panel"), $("#chat-settings"),
                             socketsUrl, chatUrl, chatHistoryUrl, temporarySocketKey);

        {% if not player.is_spectator %}
            // enable choosing color
            initializeColorChooser($("#color-chooser"), "{{ player.color.goal_class }}", colorSelectedUrl);
        {% endif %}

        // hook up chat contents toggling
        initializeChatSettings($("#chat-settings"), $("#bingo-chat"));

        roomSettingsCollapserEvent();
    });
    function roomSettingsCollapserEvent() {
        // collapse event for the room settings panel
        // I put it here becuase the template is loaded each time a new card is created
        $("#room-settings-collapse").on("mousedown", function() {
            $("#room-settings .panel-body").toggle(50);
        });
    }
    function refreshSettingsPanel() {
        var roomSettingsUrl = "{% url 'room_settings' room.encoded_uuid %}";
        $.ajax({
            "url": roomSettingsUrl,
            "success": function(result) {
                $("#room-settings-container").html(result.panel);
                roomSettingsCollapserEvent();
                ROOM_SETTINGS = result.settings;
                $seedInChat = $("#bingo-chat .new-card-message .seed-wait").removeClass('seed-wait');
                if (ROOM_SETTINGS.hide_card) {
                    hideBoard();
                    $seedInChat.text("Hidden").addClass('seed-hidden');
                } else {
                    revealBoard();
                    $seedInChat.text(ROOM_SETTINGS.seed).addClass('seed');
                }
                refreshNewCardDialog();
            },
            "error": function(result) {
                console.log(result);
            }
        });
    }
</script>
{% endblock %}

