{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Ocarina of Time Bingo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/style.css" %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<div class="container" style="height: 100vh">
    <div class="row" style="height: 100%">
        <div class="col-md-4 sidebar-right">
            <div class="sidebar-header">
                <h1>OoT Bingo</h1>
                <p>This is a "Bingo" board for Ocarina of Time races.</p>
            </div>
            <div id="bingo-chat" class="sidebar-content chat-window">
                <div class="chat-body-container">
                    <div class="chat-body"></div>
                </div>
                <form>
                    <div class="chat-input-container">
                        <input type="text" class="chat-input form-control" autocomplete="off" />
                        <input type="submit" class="chat-send btn btn-default" value="Send"/>
                    </div>
                </form>
            </div>
            <div class="sidebar-footer">
            </div>
        </div>
        <div class="col-md-8 vertical-center" style="text-align: center">
            <div style="display: inline-block;">
                {% include 'bingosync/board.html' %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bingosync/bingosync.js' %}"></script>
<script>
    $(document).ready(function() {
        var boardUrl = "{% url 'views.board_json' seed %}";
        var socketsUrl = "ws://127.0.0.1:8888/broadcast";
        var goalSelectedUrl = "{% url 'views.goal_selected' %}";

        // asynchronously load and populate the board
        initializeBoard($("#bingo"), boardUrl, goalSelectedUrl);

        // open the chat web socket
        var chatSocket = initializeChatSocket($("#bingo-chat"), socketsUrl);
    });
</script>
</body>
</html>

