{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Ocarina of Time Bingo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bingosync/style.css" %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<div class="container" style="height: 97vh">
    <div>
        <h1>Bingosync</h1>
    </div>
    <div class="row" style="height: calc(100% - 70px); margin-bottom: 20px;">
        <div class="col-md-6" style="text-align: center">
            <div style="display: inline-block;">
                {% include 'bingosync/color_chooser.html' %}
                {% include 'bingosync/board.html' %}
            </div>
        </div>
        <div class="col-md-6" style="height: 93%">
            <div class="row" style="height: 100%">
                <div class="col-md-8" style="height: 100%">
                    <div class="panel panel-default fill-parent">
                        <div class="panel-heading">
                            Room Feed
                        </div>
                        <div class="panel-body fill-parent" style="padding-bottom: 55px;">
                            <div id="bingo-chat" class="chat-window panel-window">
                                <div class="chat-body panel-inner"></div>
                                <form>
                                    <div class="chat-input-container">
                                        <input type="text" class="chat-input form-control" autocomplete="off" />
                                        <input type="submit" class="chat-send btn btn-default" value="Send"/>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="height: 100%">
                    <div class="flex-col-container">
                        <div class="flex-col-content">
                            <div class="panel panel-default fill-parent">
                                <div class="panel-heading">
                                    Players
                                </div>
                                <div class="panel-body">
                                    <div><b>Team One</b></div>
                                    <div style="margin: 0 0 10px 10px">
                                        <div>Player One</div>
                                        <div>Player Two</div>
                                        <div>Player Three</div>
                                    </div>
                                    <div><b>Team Two</b></div>
                                    <div style="margin: 0 0 10px 10px;">
                                        <div>Player Four</div>
                                        <div>Player Five</div>
                                        <div>Player Six</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-col-footer">
                            <div class="panel panel-default fill-parent">
                                <div class="panel-heading">
                                    Room Settings
                                </div>
                                <div class="panel-body">
                                    <table id="settings-table">
                                        <tr><td><b>Seed:</b></td><td>5</td></tr>
                                        <tr><td><b>Game:</b></td><td>OoT</td></tr>
                                        <tr><td><b>Mode:</b></td><td>Blackout</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bingosync/bingosync.js' %}"></script>
<script>
    $(document).ready(function() {
        var boardUrl = "{% url 'views.board_json' seed %}";
        var socketsUrl = "ws://127.0.0.1:8888/broadcast";
        var goalSelectedUrl = "{% url 'views.goal_selected' %}";

        // asynchronously load and populate the board
        initializeBoard($("#bingo"), boardUrl, goalSelectedUrl);

        // open the chat web socket
        var chatSocket = initializeChatSocket($("#bingo-chat"), socketsUrl);

        $("#slot1").addClass("bluesquare");
        $("#slot2").addClass("orangesquare");
        $("#slot3").addClass("redsquare");
        $("#slot4").addClass("greensquare");
        $("#slot5").addClass("purplesquare");
    });
</script>
</body>
</html>

