<div class="panel panel-default fill-parent">
    <div class="panel-heading">
        Room Feed
    </div>
    <div class="panel-body fill-parent" style="padding-bottom: 55px;">
        <div id="bingo-chat" class="chat-window panel-window">
            <div class="chat-body panel-inner">
                <div class="chat-history">
                    <span class="history-placeholder">Loading chat history...</span>
                </div>
            </div>
            <form>
                <div class="chat-input-container">
                    <input type="text" class="chat-input form-control" autocomplete="off" />
                    <input type="submit" class="chat-send btn btn-default" value="Send"/>
                </div>
            </form>
        </div>
    </div>
</div>
