<div id="chat-settings" class="panel panel-default fill-parent">
    <div class="panel-heading">
        <span>
            Chat Settings
        </span>
        <span id="chat-settings-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            -
        </span>
    </div>
    <div class="panel-body">
        <div>
            <div class="checkbox m-b-s" style="margin-top: 0">
                <label><input id="chat-entry-toggle" type="checkbox" checked> Player Chat</label>
            </div>
            <div class="checkbox m-b-s">
                <label><input id="goal-entry-toggle" type="checkbox" checked> Goal Actions</label>
            </div>
            <div class="checkbox m-b-s">
                <label><input id="color-entry-toggle" type="checkbox" checked> Color Changes</label>
            </div>
            <div class="checkbox m-b-s">
                <label><input id="connection-entry-toggle" type="checkbox" checked> Connections</label>
            </div>
            <div class="checkbox" style="margin-bottom: 0">
                <label><input id="timestamp-toggle" type="checkbox" checked> Timestamps</label>
            </div>
        </div>
    </div>
</div>
