<div id="color-chooser" class="panel panel-default">
    <div class="panel-heading">
        Choose Color
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser orangesquare" squareColor="orange">orange</div>
            <div class="col-md-2 btn color-chooser redsquare" squareColor="red">red</div>
            <div class="col-md-2 btn color-chooser bluesquare" squareColor="blue">blue</div>
            <div class="col-md-2 btn color-chooser greensquare" squareColor="green">green</div>
            <div class="col-md-2 btn color-chooser purplesquare" squareColor="purple">purple</div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
