<div id="color-chooser" class="panel panel-default">
    <div class="panel-heading">
        Choose Color
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser orangesquare chosen-color" squareColor="orangesquare">orange</div>
            <div class="col-md-2 btn color-chooser redsquare" squareColor="redsquare">red</div>
            <div class="col-md-2 btn color-chooser bluesquare" squareColor="bluesquare">blue</div>
            <div class="col-md-2 btn color-chooser greensquare" squareColor="greensquare">green</div>
            <div class="col-md-2 btn color-chooser purplesquare" squareColor="purplesquare">purple</div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
    </div>
</div> 
