<div id="display-settings" class="panel panel-default fill-parent">
    <div class="panel-heading">
        <span>
            Display Settings
        </span>
        <span id="display-settings-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            -
        </span>
    </div>
    <div class="panel-body">
        <div>
            <div class="checkbox m-b-s" style="margin-top: 0">
                <label><input id="use-images-toggle" type="checkbox"> Use Images</label>
            </div>
        </div>
    </div>
</div>