{% extends "bingosync/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load app_filters %}

{% block page_content %}
    <div class="row m-b-l">
        <div class="col-md-7">
            <div id="rooms_panel" class="panel panel-default {{ hide_idle_rooms|yesno:"hide-idle-rooms," }}">
                <div class="panel-heading">
                    Active Rooms
                </div>
                <div class="panel-body">
                    {% if rooms %}
                        <div style="margin: 5px; border-radius: 5px">
                            <table class="table">
                                <thead>
                                    <th>Room</th>
                                    <th>Creator</th>
                                    <th>Game</th>
                                    <th>Players</th>
                                </thead>
                                <tbody>
                                {% for room in rooms %}
                                <tr class="{{ room.is_idle|yesno:"idle-room," }}">
                                        <td><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></td>
                                        <td>{{ room.creator.name }}</td>
                                        <td>{{ room.current_game.game_type|hovertext_game_type }}</td>
                                        <td>{{ room.connected_players|length }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div>
                                {% if hide_idle_rooms %}
                                    <div class="text-center">
                                        <a href="#" class="show-button">Show Idle Rooms</a>
                                        <a href="#" class="hide-button">Hide Idle Rooms</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            No active rooms right now, why don't you make one?
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Room
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/" method="post">
                        {% csrf_token %}
                        {{ form|bootstrap_horizontal:"col-md-3" }}
                        <div class="form-group">
                            <div class="col-md-4 pull-right">
                                <input type="submit" class="form-control" value="Make Room" />
                            </div>
                        </div>
                    </form>
                    <!-- this blob gets swapped into the form above because django-bootstrap-form
                         isn't *quite* flexible enough to let me hide it by default otherwise -->
                    <div id="real_custom_json" class="form-group hidden">
                        <label class="control-label col-md-3 " for="id_custom_json">Board</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="custom_json" cols="40" rows="6"
                                      placeholder='Paste the board as a 25 element JSON goal list, e.g:
[ {"name": "Collect 3 Fire Flowers"},
  {"name": "Defeat Phantom Ganon"},
  {"name": "Catch a Pokemon while Surfing"},
  ... ]'></textarea>
                        </div>
                    </div>
                    <script src="{% static "bingosync/home.js" %}"></script>
                    <script>
                        $(document).ready(function() {
                            // grab the data from the old custom json field, if any, and remove it
                            var $oldCustomJson = $("#id_custom_json");
                            var oldCustomJsonVal = $oldCustomJson.val();
                            $oldCustomJson.remove();

                            // hackily swap in the real field from the hidden template thing above
                            var $gameType = $("#id_game_type");
                            var $customJson = $("#real_custom_json");
                            $customJson.insertAfter($gameType.parent().parent());
                            $customJson.find("textarea").text(oldCustomJsonVal);

                            // show / hide the custom json field depending on whether custom is selected
                            $gameType.on("change", function() {
                                if ($gameType.val() == 18) {
                                    $customJson.removeClass("hidden");
                                } else {
                                    $customJson.addClass("hidden");
                                }
                            });
                            $gameType.change();

                            var $roomsPanel = $("#rooms_panel");
                            initializeRoomsPanel($roomsPanel);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


