{% extends "bingosync/base.html" %}
{% load static %}
{% load bootstrap %}
{% load app_filters %}
{% load crispy_forms_tags %}

{% block page_content %}
    <div class="row m-b-l">
        <div class="col-md-7">
            <div id="rooms_panel" class="panel panel-default {{ hide_idle_rooms|yesno:"hide-idle-rooms," }}">
                <div class="panel-heading">
                    Active Rooms
                </div>
                <div class="panel-body">
                    {% if rooms %}
                        <div class="table-wrapper" style="margin: 5px; border-radius: 5px">
                            <table class="table">
                                <thead>
                                    <th>Room</th>
                                    <th>Creator</th>
                                    <th>Game</th>
                                    <th>Players</th>
                                </thead>
                                <tbody>
                                {% for room in rooms %}
                                <tr class="{{ room.is_idle|yesno:"idle-room," }}">
                                        <td><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></td>
                                        <td>{{ room.creator.name }}</td>
                                        <td>{{ room.current_game.game_type|hovertext_game_type }}</td>
                                        <td>{{ room.connected_players|length }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div>
                                {% if hide_idle_rooms %}
                                    <div class="text-center">
                                        <a href="#" class="show-button">Show Idle Rooms</a>
                                        <a href="#" class="hide-button">Hide Idle Rooms</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            No active rooms right now, why don't you make one?
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Room
                </div>
                <div id="new_room_form" class="panel-body">
                    <form class="form-horizontal" action="/" method="post">
                        {% csrf_token %}
                        {% crispy form %}
                        <div class="form-group">
                            <div class="col-md-4 pull-right">
                                <input type="submit" class="form-control" value="Make Room" />
                            </div>
                        </div>
                    </form>
                    <script src="{% static "bingosync/home.js" %}"></script>
                    <script>
                        $(document).ready(function() {
                            var $newRoomForm = $("#new_room_form");
                            initializeGameSelectForm($newRoomForm);

                            var $roomsPanel = $("#rooms_panel");
                            initializeRoomsPanel($roomsPanel);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


