{% extends "bingosync/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block page_content %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Active Rooms
                </div>
                <div class="panel-body">
                    {% if rooms %}
                        <div style="margin: 5px; min-height: 120px; border-radius: 5px">
                            <table class="table">
                                <thead>
                                    <th>Room</th>
                                    <th>Creator</th>
                                    <th>Game</th>
                                    <th>Players</th>
                                </thead>
                                <tbody>
                                {% for room in rooms %}
                                    <tr>
                                        <td><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></td>
                                        <td>{{ room.creator.name }}</td>
                                        <td>{{ room.current_game.game_type }}</td>
                                        <td>{{ room.connected_players|length }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div>
                            No active rooms right now, why don't you make one?
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Room
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/" method="post">
                        {% csrf_token %}
                        {{ form|bootstrap_horizontal:"col-md-3" }}
                        <div class="form-group">
                            <div class="col-md-4 pull-right">
                                <input type="submit" class="form-control" value="Make Room" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


