{% extends "bingosync/base.html" %}
{% load static %}
{% load bootstrap %}

{% block page_head_meta_description %}
    <meta name="description" content="Bingosync room for '{{ room.current_game.game_type.long_name }}' made by {{ room.creator.name }}">
{% endblock %}

{% block page_content %}
    <div style="max-width: 600px; margin: 0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">
                Join Room
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="{% url 'room_view' encoded_room_uuid %}" method="post">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal:"col-md-3" }}
                    <div class="form-group">
                        <div class="col-md-4 pull-right">
                            <input type="submit" class="form-control" value="Join Room" />
                        </div>
                    </div>
                </form>
                <script>
                    $(document).ready(function() {
                        $(".alert-danger a.close").on("click", function() {
                            $(this).parent().hide(100);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}

