<div class="panel panel-default fill-parent">
    <div class="panel-heading">
        Players
    </div>
    <div class="panel-body">
        <div><b>Team One</b></div>
        <div style="margin: 0 0 10px 10px">
            <div>Player One</div>
            <div>Player Two</div>
            <div>Player Three</div>
        </div>
        <div><b>Team Two</b></div>
        <div style="margin: 0 0 10px 10px;">
            <div>Player Four</div>
            <div>Player Five</div>
            <div>Player Six</div>
        </div>
    </div>
</div>    
