{% load app_filters %}

<div class="panel panel-default fill-parent">
    <div class="panel-heading">
        Players
    </div>
    <div id="players-panel" class="panel-body">
    {% for player in room.connected_players %}
        {% if player.is_spectator == False %}
        <div id="{{ player.encoded_uuid }}">
            <span class="goalcounter {{ player.color.goal_class }}">
                {{ game|num_goals:player.color }}
            </span>
            <span class="playername">
                {{ player.name }}
            </span>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
