{% load app_filters %}

<div class="panel panel-default fill-parent">
    <div class="panel-heading">
        Players
    </div>
    <div class="panel-body panel-body-overflow-container">
        <div id="players-panel">
            {% for player in room.connected_players %}
                {% if not player.is_spectator %}
                <div id="{{ player.encoded_uuid }}" class="player-panel-entry">
                    <span class="goalcounter {{ player.color.goal_class }}">
                        <span class="squarecounter" title="Squares with color.">0</span>
                        <span class="rowcounter" title="Rows with color.">(0)</span>
                    </span>
                    <span class="playername">
                        {{ player.name }}
                    </span>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
