{% load app_filters %}

<div id="room-settings" class="panel panel-default fill-parent">
    <div class="panel-heading">
        <span>
            Room Settings
        </span>
        <span id="room-settings-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            -
        </span>
    </div>
    <div class="panel-body">
        <div class="table-wrapper">
            <table id="settings-table" >
                <tr><td><b>Seed:</b></td><td>
                    <span id="the-seed">
                        {% if room.settings.hide_card %}
                            <strong>Hidden<strong>
                        {% else %}
                            {{ game.seed }}
                        {% endif %}
                    </span>
                </td></tr>
                <tr><td><b>Game:</b></td><td nowrap>{{ game.game_type|hovertext_game_type }}</td></tr>
                <tr><td><b>Mode:</b></td><td>{{ game.lockout_mode }}</td></tr>
                {% if room.public_access_key %}
                    <tr>
                        <td colspan="2">
                            <a href="{% url 'popout_board' room.encoded_uuid %}?key={{room.encoded_public_access_key}}" target="_blank">
                                Popout URL
                            </a>
                        </td>
                    </tr>
                {% endif %}
                <tr><td colspan="2">
                </td></tr>
            </table>
        </div>
        <div style="margin-top: 8px; text-align: center">
            <div id="new-card" class="btn btn-default" data-toggle="modal" data-target="#new-card-dialog">
                New Card
            </div>
        </div>
    </div>
</div>
