<div id="room-settings" class="panel panel-default fill-parent">
    <div class="panel-heading">
        <span>
            Room Settings
        </span>
        <span id="room-settings-collapse" class="btn btn-default btn-xs pull-right">
            -
        </span>
    </div>
    <div class="panel-body">
        <table id="settings-table">
            <tr><td><b>Seed:</b></td><td>{{ game.seed }}</td></tr>
            <tr><td><b>Game:</b></td><td>OoT</td></tr>
            <tr><td><b>Mode:</b></td><td>Blackout</td></tr>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#room-settings-collapse").on("mousedown", function() {
            $("#room-settings .panel-body").toggle(50);
        });
    });
</script>
