.gold {
  color: #f7e279;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #8d8145;
}
.silver {
  color: #bec7d2;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #6d7278;
}
.bronze {
  color: #e09456;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #805531;
}
.red {
  color: #fa5050;
}
.green {
  color: #52d64f;
}
.grey {
  color: #808080;
}
.sans {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.88em;
}
.serif {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 800;
  font-size: 1.21em;
}
.small {
  font-size: 75%;
}
html,
body {
  background: #111111;
  color: #bec7d2;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.88em;
  padding: 0;
  margin: 0;
  height: 100%;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  line-height: 15px;
}
.always_scrollbar {
  overflow-y: scroll;
}
.container {
  width: 976px;
  margin: 0 auto;
  padding: 8px 0 16px 16px;
  overflow: auto;
}
.container2 {
  width: 100%;
  min-width: 992px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 16px;
}
header {
  background: url("http://c15111086.r86.cf2.rackcdn.com/texture_bar2.jpg") top center;
  border-bottom: 1px #424242 dotted;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-top: 8px;
}
footer {
  background: url("http://c15111086.r86.cf2.rackcdn.com/texture_bar_footer2.jpg") top center;
  border-top: 1px #424242 dotted;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  color: #808080;
  font-size: 85%;
  line-height: 85%;
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: -29px;
  /* negative height minus border */
  height: 28px;
  clear: both;
}
footer .left {
  margin-left: 8px;
}
footer .right {
  margin-right: 8px;
}
footer .container {
  padding: 8px 0;
}
#wrap {
  min-height: 100%;
}
#main {
  padding-bottom: 28px;
}
#logo {
  background: url("http://c15111086.r86.cf2.rackcdn.com/srl_350px.png") no-repeat;
  display: block;
  overflow: hidden;
  width: 350px;
  height: 50px;
  margin-bottom: 13px;
  float: left;
}
#logo span {
  display: none;
}
#headerright {
  display: block;
  overflow: hidden;
  height: 50px;
  margin-bottom: 13px;
  width: 594px;
  margin-right: 16px;
  float: right;
  text-align: center;
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 800;
  font-size: 1.21em;
  line-height: 18px;
  color: #70e36e;
}
#headerright span {
  color: #5d97ff;
}
#headerright a {
  display: block;
  padding-top: 10px;
}
#headerright a:hover {
  color: #b4ffae;
}
#headerright a:hover span {
  color: #78e0ff;
}
nav ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  clear: both;
}
nav ul li {
  list-style-type: none;
  margin: 0 0 16px 0;
  padding: 0;
}
nav ul li a {
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png");
  background-color: #424242;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 105px;
  padding: 4px 0;
  margin: 0 16px 0 0;
}
nav ul li a:hover {
  background-color: #3c70df;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #ffffff;
}
nav ul li a:active {
  background-color: #1448b3;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #ffffff;
}
::selection {
  background: rgba(0, 0, 0, 0.6);
  color: #f7e279;
}
strong {
  color: #f7e279;
  font-weight: 700;
}
h1 {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 800;
  font-size: 1.21em;
  color: #e09456;
  margin: 8px 0 0;
  padding: 8px 0;
  word-wrap: break-word;
  overflow: hidden;
}
h1 img {
  position: absolute;
  margin: 0 8px;
}
h1 a {
  text-decoration: underline;
}
h2 {
  display: block;
  margin: 0 0 8px;
  color: #f7e279;
  font-weight: 700;
  clear: both;
  font-size: 100%;
}
h4 {
  display: block;
  margin: 8px 0;
  color: #f7e279;
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
p {
  margin: 0px;
  padding: 0 0 8px;
}
ul {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  margin-top: 2px;
}
ul li {
  list-style-type: square;
  list-style-position: inside;
  padding-bottom: 10px;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0;
}
td {
  border: 0;
  padding: 0;
}
th {
  background-color: #c01614;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#c01614), to(#a01211));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #c01614, #a01211);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #c01614, #a01211);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #c01614, #a01211);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #c01614, #a01211);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #c01614, #a01211);
  color: #f7e279;
  text-shadow: 1px 1px 3px #111111;
  font-weight: 700;
}
#skypedetectionswf {
  position: absolute;
  overflow: hidden;
  top: -999px;
}
.note {
  color: #808080;
  font-size: 85%;
}
.rounded_top {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.rounded_bottom {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
.rounded_topleft {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
.rounded_topright {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
.rounded_bottomleft {
  border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
}
.rounded_bottomright {
  border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
}
.textshadow {
  text-shadow: 1px 1px 3px #111111;
}
.boxshadow {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.insetboxshadow {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
}
.insetboxshadow2 {
  box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.3);
}
.noboxshadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
}
.liteboxshadow {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.smallbuttonstyle {
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png");
  background-color: #424242;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.smallbuttonstyle:hover {
  background-color: #3c70df;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #ffffff;
}
.smallbuttonstyle:active {
  background-color: #1448b3;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #ffffff;
}
.smallbutton {
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png");
  background-color: #424242;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 105px;
  margin-right: 16px;
  margin-bottom: 8px;
  padding: 4px 0;
  text-decoration: none;
}
.smallbutton:hover {
  background-color: #3c70df;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #ffffff;
}
.smallbutton:active {
  background-color: #1448b3;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #ffffff;
}
#buttonholder {
  width: 100%;
}
#bingoPage #results {
  float: left;
  width: 594px;
  margin-right: 16px;
  text-align: right;
}
#bingoPage .newcard {
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png");
  background-color: #424242;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 105px;
  margin-right: 16px;
  padding: 4px 0;
}
#bingoPage .newcard:hover {
  background-color: #3c70df;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #ffffff;
}
#bingoPage .newcard:active {
  background-color: #1448b3;
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #ffffff;
}
#bingoPage .newcard:last-child {
  margin-right: 0;
}
#bingoPage #bingo {
  margin-top: 16px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#bingoPage #bingo .rowcol {
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingoPage #bingo .rowcol:hover {
  color: #ffffff;
  background: #1448b3;
}
#bingoPage #bingo tr:first-child td,
#bingoPage #bingo tr:last-child td {
  height: 30px;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingoPage #bingo tr:first-child td:hover,
#bingoPage #bingo tr:last-child td:hover {
  color: #ffffff;
  background: #1448b3;
}
#bingoPage #bingo tr td {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  cursor: pointer;
  width: 95px;
  height: 90px;
  text-align: center;
  border: 1px #424242 solid;
  background: #000;
}
#bingoPage #bingo tr td:first-child {
  width: 35px;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingoPage #bingo tr td:first-child:hover {
  color: #ffffff;
  background: #1448b3;
}
#bingoPage #bingo tr td:hover,
#bingoPage #bingo tr td.hover {
  background: #001a36;
  color: #fff;
}
#bingoPage #bingo tr td.greensquare {
  background: #005511;
}
#bingoPage #bingo tr td.greensquare:hover,
#bingoPage #bingo tr td.greensquare.hover {
  background: #007722;
}
#bingoPage #bingo tr td.redsquare {
  background: #550011;
}
#bingoPage #bingo tr td.redsquare:hover,
#bingoPage #bingo tr td.redsquare.hover {
  background: #770022;
}
#bingoPage #about_bingo {
  float: right;
  width: 350px;
  margin-right: 16px;
}
