{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>QUnit Example</title>
    <link rel="stylesheet" href="{% static "tests/qunit-2.9.2.css" %}"></link>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
        <!-- fixture data for color_chooser_test.js -->
        <div>{% include 'bingosync/color_chooser.html' %}</div>
        <!-- fixture data for board_test.js and board_cover_test.js -->
        <div class="board-container">
            {% include 'bingosync/board.html' %}
            <div class="board-cover"><div class="board-cover-text unselectable">Click to Reveal</div></div>
        </div>
        <!-- fixture data for chat_panel_test.js -->
        <div>{% include 'bingosync/chat_panel.html' %}</div>
        <div>{% include 'bingosync/chat_settings_panel.html' %}</div>

    </div>
    <!-- implementation -->
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bingosync/misc.js" %}"></script>
    <script src="{% static "bingosync/room/util.js" %}"></script>
    <script src="{% static "bingosync/room/color_chooser.js" %}"></script>
    <script src="{% static "bingosync/room/board.js" %}"></script>
    <script src="{% static "bingosync/room/board_cover.js" %}"></script>
    <script src="{% static "bingosync/room/chat_panel.js" %}"></script>
    <!-- test fixtures -->
    <script src="{% static "tests/qunit-2.9.2.js" %}"></script>
    <script src="{% static "tests/qunit-dom-0.9.2.js" %}"></script>
    <script src="{% static "tests/qunit-assert-html-0.3.2.js" %}"></script>
    <script src="{% static "tests/jquery.mockjax-2.5.0.js" %}"></script>
    <script src="{% static "tests/qunit-extensions.js" %}"></script>
    <!-- actual tests -->
    <script src="{% static "tests/bingosync/color_chooser_test.js" %}"></script>
    <script src="{% static "tests/bingosync/board_test.js" %}"></script>
    <script src="{% static "tests/bingosync/board_cover_test.js" %}"></script>
    <script src="{% static "tests/bingosync/chat_panel_test.js" %}"></script>
</body>
</html>
