.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fill-parent {
    height: 100%;
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-right {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.sidebar-header {
    flex: 0 1 auto;
}

.sidebar-content {
    flex: 1 1 auto;
    position: relative;
}

.sidebar-footer {
    flex: 0 1 relative;
}

.sidebar-footer-fixed {
    flex: 0 1 80px;
}


.flex-col-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-col-header {
    flex: 0 1 auto;
}

.flex-col-content {
    flex: 1 1 auto;
    position: relative;
    margin-bottom: 20px;
}

.flex-col-content .fill-parent {
    position: absolute;
}

.flex-col-footer {
    flex: 0 1 auto;
}

.flex-col-footer .panel {
    margin-bottom: 0px;
}

.panel-window {
    height: 100%;
}

.panel-inner {
    border: solid 1px #444;
    height: 100%;
    width: 100%;
    background-color: #272b30;
    padding: 3px;
    padding-left: 6px;
    overflow: scroll;
}

.chat-window {
    display: flex;
    flex-flow: column;
}

.chat-body {
    flex: 1 1 auto;
}

.chat-input-container {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.chat-input {
    flex: 1 1 auto;
    color: #DDD;
    background-color: #222;
    border-color: #444;
}

.chat-send {
    flex: 0 1 auto;
}

#settings-table tr td {
    padding-right: 5px;
}

/* plain old square */
.square {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0 5px;
    cursor: pointer;
    width: 105px;
    height: 95px;
    text-align: center;
    border: 1px #424242 solid;
    background: #181818;
}

.square:hover,
.square.hover {
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
}

.blanksquare:hover,
.blanksquare.hover {
    background: #0a245a;
}

/* labels along the top */
#bingo tr:first-child td,
#bingo tr:last-child td {
    padding: 7px 0px;
    background: #101821;
    font-size: 75%;
    color: #3c70df;
    font-weight: 700;
    border: 1px #0a245a solid;
}
#bingo tr:first-child td:hover,
#bingo tr:last-child td:hover {
    color: #ffffff;
    background: #1448b3;
}
/* labels along the left */
#bingo tr td:first-child {
    background: #101821;
    font-size: 75%;
    color: #3c70df;
    font-weight: 700;
    border: 1px #0a245a solid;
}
#bingo tr td:first-child:hover {
    color: #ffffff;
    background: #1448b3;
}

/* ripped these gradients from the slate theme */
.greensquare {
    background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
}

.redsquare {
    background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
}

.orangesquare {
    background-image: linear-gradient(#faa123, #f89406 60%, #e48806);
}

.bluesquare {
    background-image: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
}

/* had to generate this one using an online tool... */
.purplesquare {
    background-image: linear-gradient(#da75ff, #bf0fff);
}

.color-chooser {
    color: #fff;
}

.color-chooser:hover {
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
}

.chosen-color,
.chosen-color:hover {
    border: solid 2px #eee;
}

