.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-right {
    float: right;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.sidebar-header {  
    flex: 0 1 auto;
}

.sidebar-content {    
    flex: 1 1 auto;
}

/* unused */
.sidebar-footer { 
    flex: 0 1 80px;
}

.chat-window {
    border: solid 1px #666;
    display: flex;
    flex-flow: column;
    background-color: #333;
}

.chat-body-container {
    flex: 1 1 auto;
    position: relative;
    margin: 10px;
    border: solid 2px #444;
}

.chat-body {
    position: absolute;
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: #272b30;
    padding: 3px;
}

.chat-input-container {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.chat-input {
    flex: 1 1 auto;
    color: #DDD;
    background-color: #222;
    border-color: #444;
}

.chat-send {
    flex: 0 1 auto;
}

/* plain old square */
#bingo tr td {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  cursor: pointer;
  width: 105px;
  height: 95px;
  text-align: center;
  border: 1px #424242 solid;
  background: #111;
}    
/* labels along the top */
#bingo tr:first-child td,
#bingo tr:last-child td {
  height: 30px;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingo tr:first-child td:hover,
#bingo tr:last-child td:hover {
  color: #ffffff;
  background: #1448b3;
}                            
/* labels along the left */
#bingo tr td:first-child {
  width: 35px;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}
#bingo tr td:first-child:hover {
  color: #ffffff;
  background: #1448b3;
}

/* hovering over main squares */
#bingo tr td:hover,
#bingo tr td.hover {
  background: #001a36;
  color: #fff;
}
#bingo tr td.greensquare {
  background: #005511;
}
#bingo tr td.greensquare:hover,
#bingo tr td.greensquare.hover {
  background: #007722;
}
#bingo tr td.redsquare {
  background: #550011;
}
#bingo tr td.redsquare:hover,
#bingo tr td.redsquare.hover {
  background: #770022;
}   
